/* .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #00ffa147;
} */
.section-title {
  text-align: center;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
  color: #1991c994;
}
.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}
.navbar-image-logo {
  width: 100px;
  height: 50px;
  background: #fff;
}
.navbar-image-logo2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
}
