body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  /* background: linear-gradient(
        to right,
        #5ba3c294 ,
        rgb(89, 181, 224)    );     */
}
.wrapper {
  min-height: 83vh;
  display: flex;
  flex-direction: column;
}
.wrapper1 {
  display: flex;
  flex-direction: column;
  width: 3000px;
}
.container-fluid {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.center {
  /* width: 100%; */

  height: 100%;
  display: flex;
  margin-top: 15px;
  padding: 2px 0px 0px 0px;
  justify-content: space-evenly;
  overflow-x: auto;
}
.bio_box {
  width: 620px;
  /* height: 520px; */
  height: fit-content;
  border: 0.1mm solid rgba(0, 0, 0, 0.08);
  border-radius: 3mm;
  box-sizing: border-box;
  /* padding: 8px; */
  max-height: 96vh;
  overflow-x: hidden;
  background: white;
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  margin-right: 25px;
}
.box_selector {
  width: 620px;
  background: rgb(243, 243, 243);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
}
.box_title {
  background: rgb(243, 243, 243);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.title {
  font-size: 16px;
  font-weight: 600;
}
.seats {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  position: relative;
}
.status {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-evenly;
}
.modal-backdrop.show {
  opacity: 0;
}
.modal-backdrop.fade {
  opacity: 0;
}

.item {
  font-size: 12px;
  position: relative;
}
.item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -12px;
  transform: translate(0, -50%);
  width: 10px;
  height: 10px;
  background: rgb(143, 218, 187);
  border-radius: 0.3mm;
}
.item:nth-child(2)::before {
  background: rgb(129, 129, 192);
  outline: none;
}
.item:nth-child(3)::before {
  background: rgb(193, 154, 107);
  outline: none;
}
.item:nth-child(4)::before {
  background: rgb(180, 180, 180);
  outline: none;
}
.blood-box {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 0px;
  position: relative;
  max-width: 800px;
}
.specimen-box {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 0px;
  position: relative;
  max-width: 800px;
}
.RLT-box {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 0px;
  position: relative;
  max-width: 800px;
}
.Primary-box {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 0px;
  position: relative;
  max-width: 800px;
}

.seat {
  width: 54px;
  height: 32px;
  /* padding: 9px 0; */
  margin: 2px;
  background: rgb(143, 218, 187);
  border-radius: 0.8mm;
  /* outline: 0.4mm solid rgb(206, 60, 60); */
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.viewSeat {
  width: 54px;
  height: 32px;
  /* padding: 9px 0; */
  margin: 2px;
  background: rgb(143, 218, 187);
  border-radius: 1mm;
  outline: 0.3mm;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
/* .spicemen-box input:checked + label {
    background: rgb(180, 180, 180);
    outline: none;
    }
    .blood-box input:checked + label {
    background: rgb(180, 180, 180);
    outline: none;
    } */

.specimen-box input:checked + label {
  background: rgb(129, 129, 192);
  outline: none;
}
.blood-box input:checked + label {
  background: rgb(129, 129, 192);
  outline: none;
}

.RLT-box input:checked + label {
  background: rgb(129, 129, 192);
  outline: none;
}
.Primary-box input:checked + label {
  background: rgb(129, 129, 192);
  outline: none;
}
/* .seat.unselected {
  background: rgb(143, 218, 187);
  margin: 0px 2px 0px 2px;
  cursor: pointer;
}

.seat.booked {
  background: rgb(129, 129, 192);
  margin: 0px 2px 0px 2px;
  cursor: pointer;
} */

.seat label {
  font-size: 10px;
  color: white;
  text-align: center;
}

input {
  display: none;
}

.blood-box:first-child {
  display: block;
}
.specimen-box:first-child {
  display: block;
}

.RLT-box:first-child {
  display: block;
}

.Primary-box:first-child {
  display: block;
}

.arrow-btn {
  height: 40px;
  width: 60px;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 0 10px;
  cursor: pointer;
}

.card-header {
  justify-content: space-between;
}

/* default.html */

.nav-tabs {
  border-bottom: 2px solid #1991c9;
}

.nav-link {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.nav-tabs {
  color: #555;
  font-weight: bold;
}
.nav-tabs .nav-link.active {
  background-color: #1991c9;
  color: #fff;
  border: none;
}
.tab-content {
  padding: 15px;
  border: 1px solid #1991c9;
  border-top: none;
}

/* Footer */

#footer {
  font-size: 14px;
  background: #1991c994;
}

#footer .footer-newsletter {
  padding: 50px 0;
  background: #f3f5fa;
  text-align: center;
  font-size: 15px;
  color: #444444;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: #1991c994;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
  text-align: left;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #47b2e4;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #209dd8;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: #1991c994;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Jost", sans-serif;
  color: #5e5e5e;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #1991c994;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #47b2e4;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.custom-title {
  height: auto;
  width: 200px;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 15px;
  border: 1px solid #000000;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #47b2e4;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #47b2e4;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #209dd8;
  color: #fff;
  text-decoration: none;
}

#footer .footer-bottom {
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 10px;
  color: #fff;
}

#footer .copyright {
  float: left;
}

#footer .credits {
  float: right;
  font-size: 13px;
}

#footer .credits a {
  transition: 0.3s;
}

@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #footer .copyright,
  #footer .credits {
    text-align: center;
    float: none;
  }

  #footer .credits {
    padding-top: 4px;
  }
}

.row.ml-1.mb-3 {
  margin-left: 0.25rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.row.ml-1.mb-3 h3 {
  font-size: 1.5rem;
  color: #343a40;
  font-weight: bold;
  text-transform: uppercase;
}

/* loading  */

.spinner {
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 10px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinmodal {
  display: flex; /* Centering modal */
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.spinmodal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.small-text {
  font-size: 12px;
}

.head-text {
  font-size: 15px;
}
